nav {
    height: 50px;
    width: 100%;
    background-color:rgb(188, 188, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    gap:20px;
    
}

#main-title {
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-decoration-line:underline;
}

nav .search input {

    width: 500px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 25px;
}

.admin-btn {
    background: black;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 6px 18px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#cart-icon {
    font-size: 23px;
    cursor: pointer;
}

#cart-icon:hover {
    font-size: 25px;
    transition: 0.3s;
}

.cart-btn {
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.cart-count-badge {
    position: absolute;
    left: -18px;
    top: -8px;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 12px;
}